.searchBar{
  grid-column: 4;
  grid-row: 1;
  width:15vw;
  height:4vh;
}

.searchBar:hover{
  transition: 0.3s;
  opacity: 0.4;
}

.searchBar span{
  font-size: 15px;
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif !important;
  color: white;
}