.headerTilte{

  float: right;
  margin-right: 0.5vw;
  height: 2vw;
  width: auto;
  margin-top:0.5vh;
  grid-row:1 ;
  grid-column: 1;
  animation: logo-icon-spin infinite 20s linear;
}

@keyframes logo-icon-spin{
  from{
      transform: rotate(0deg);

  } to {
    transform: rotate(360deg);

  }

}