@media screen and (min-width: 360px)and (max-width:767px){

    .videoCentreContainer{
      overflow: scroll !important;
      grid-template-columns: 10% 30% 60% !important;
      grid-template-rows: 10% 90% 100% !important;
    }

    .projectIntroduction{
      grid-column: 1/5 !important; 
    }  

    .projectContent{
      grid-column: 1/5 !important;
      grid-row: 3/4 !important;
      overflow-y: visible !important;
      overflow-x: none !important;
    }

    .introText{
       font-size: 25px !important;
    }

    .information{
      font-size: 12px !important;
      padding-left: 8px;
    }

    .introContent{
      padding-left: 20px;
    }

    .introContent li{
      margin-left: 0 !important;
    }

    .greenTitle{
       font-size: 10px !important;
    }

    .name{
      font-size: 10px !important;
    }


}

